{% extends "layout.html" %}
{% block content %}
{% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <p>{{ blog_id }}</p>
    <p>Jätä kommentti</p>
    <form action="/leavecomment" method="POST">
        <input type="hidden" name="blog_id" value="{{ blog_id }}">
        <input type="text" name="teksti"></p>
        <input type="submit" value="julkaise">
    </form>
    <hr>
    {% for comment in comments %}
        {{ comment.username }}
        {{ comment.content }}
        {{ comment.date_posted }}
    {% endfor %}
    <hr>
    <a href="/">Takaisin</a>
{% endif %}
{% endblock content %}