{% extends "layout.html" %}
{% block content %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <h1>RisuPalsta</h1>
    <h2>julkaise blogi</h2>
    <form action="/blog" method="POST">
        <p>otsikko</p>
        <input type="text" name="otsikko"></p>
        <p>teksti</p>
        <input type="text" name="teksti"></p>
        <input type="submit" value="julkaise">
    </form>
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author}} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
        <p>Total Votes: {{ post.total_votes }}</p>
        <form action="/votef" method="POST">
            <input type="hidden" name="blog_id" value="{{ post.id }}">
            <button type="submit" name="vote_type" value="upvote">Ruusuja</button>
            <button type="submit" name="vote_type" value="downvote">Risuja</button>
        </form>
        <form action="/comment/{{ post.id }}" method="GET">
            <input type="submit" value="Comments">
        </form>
        
        {% if admin %}
            <form action="/delete" method="POST">
                <input type="hidden" name="blog_id" value="{{ post.id }}">
                <input type="submit" value="poista">
            </form>
        {% endif %}
        

    {% endfor %}
    {% else %}
    <h1>RisuPalsta</h1>
    <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        </form>
    <form action="/register" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Rekisteroidy">
    </form>
    {% endif %}
{% endblock content %}