{% extends "layout.html" %}
{% block content %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <h1>RisuPalsta</h1>
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author}} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
    {% else %}
    <h1>RisuPalsta</h1>
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <form action="/register" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Rekisteroidy">
    </form>
    {% endif %}
{% endblock content %}