<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>RisuPalsta - {{ title }}</title>
        {% else %}
            <title>RisuPalsta</title>
        {% endif %}
    </head>
<body>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for message in messages %}
                <p> {{message}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>
</html>